.post-info {
  width: 100%;
  max-width: 600px;
  margin-top: 25px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  p {
    margin-top: 35px;
    color: rgba(26, 23, 23, 0.651);
    line-height: 24px;
    font-size: 16px;
  }
}
