* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #333;
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.post-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
